global
  tune.bufsize 65536
  log stdout format raw local0
defaults
  mode http
  log global
  timeout connect 2s
  timeout client 1h
  timeout server 1h
  timeout tunnel 1h
  timeout queue 100ms
  retries 0
resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 1s
frontend public
  bind :8443 ssl crt /certs/bundle.pem
  http-request set-header X-Forwarded-Proto https
  http-request set-header X-Forwarded-For %[src]
  acl automation_path path /api/automation
  acl automation_path path_beg /api/automation/
  use_backend automation_backend if automation_path
  default_backend enterprise_backend
backend automation_backend
  timeout server 15s
  server automation automation:8000 resolvers docker init-addr none maxconn 16 maxqueue 8
backend enterprise_backend
  server enterprise enterprise:3000 resolvers docker init-addr none
